<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Section</title>

    <link rel="stylesheet" href="../CSS/HeroSection.css">
</head>

<body>
    <div class="cnst-hero-main-con">
        <video class="cnst-hero-video-con" autoplay muted loop playsinlin>
            <source src="../IMAGES/ConsturctionMainVideo.mp4" type="video/mp4">
        </video>

        <div class="cnst-hero-main-head-con">
            <h1 class="cnst-hero-main-heading">BUILDING YOUR VISION</h1>
            <p class="cnst-hero-main-sub-heading">We deliver exceptional construction services with over 40 years of
                industry experience and dedication to quality.</p>
        </div>
    </div>
</body>

</html>
