<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonials</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />
    
    <link rel="stylesheet" href="../CSS/Testimonials.css">

</head>

<body>
    <div class="cnst-testi-main-con">
        <div class="section-title">
            <h2>WHAT OTHER SAY ABOUT US</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet iaculis elit. Nam semper ut
                arcu non placerat. Praesent nibh massa varius.</p>
        </div>

        <div class="cnst-testi-con swiper">
            <div class="swiper-wrapper">
                <div class="cnst-testi-inner-con swiper-slide">
                    <div class="cnst-testi-my-shape">
                        <p class="cnst-testi-review">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut
                            eveniet doloribus illo natus non tempora qui facilis. Odit harum laboriosam error quae eum dignissimos eius.</p>
                    </div>

                    <div class="cnst-testi-img-name-con">
                        <div class="cnst-testi-img-con">
                            <img src="https://themes247.net/html5/construction/demo/assets/img/testimonials/2.jpg"
                                alt="testimonial image">
                        </div>

                        <div class="cnst-testi-name-con">
                            <p class="cnst-testi-name">George Slows</p>
                            <p class="cnst-testi-proffession">Builder</p>
                        </div>
                    </div>
                </div>

                <div class="cnst-testi-inner-con swiper-slide">
                    <div class="cnst-testi-my-shape">
                        <p class="cnst-testi-review">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut
                            eveniet doloribus illo natus non tempora qui facilis. Odit harum laboriosam error quae eum dignissimos eius.</p>
                    </div>

                    <div class="cnst-testi-img-name-con">
                        <div class="cnst-testi-img-con">
                            <img src="https://themes247.net/html5/construction/demo/assets/img/testimonials/2.jpg"
                                alt="testimonial image">
                        </div>

                        <div class="cnst-testi-name-con">
                            <p class="cnst-testi-name">George Slows</p>
                            <p class="cnst-testi-proffession">Builder</p>
                        </div>
                    </div>
                </div>

                <div class="cnst-testi-inner-con swiper-slide">
                    <div class="cnst-testi-my-shape">
                        <p class="cnst-testi-review">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut
                            eveniet doloribus illo natus non tempora qui facilis. Odit harum laboriosam error quae eum dignissimos eius.</p>
                    </div>

                    <div class="cnst-testi-img-name-con">
                        <div class="cnst-testi-img-con">
                            <img src="https://themes247.net/html5/construction/demo/assets/img/testimonials/2.jpg"
                                alt="testimonial image">
                        </div>

                        <div class="cnst-testi-name-con">
                            <p class="cnst-testi-name">George Slows</p>
                            <p class="cnst-testi-proffession">Builder</p>
                        </div>
                    </div>
                </div>

                <div class="cnst-testi-inner-con swiper-slide">
                    <div class="cnst-testi-my-shape">
                        <p class="cnst-testi-review">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut
                            eveniet doloribus illo natus non tempora qui facilis. Odit harum laboriosam error quae eum dignissimos eius.</p>
                    </div>

                    <div class="cnst-testi-img-name-con">
                        <div class="cnst-testi-img-con">
                            <img src="https://themes247.net/html5/construction/demo/assets/img/testimonials/2.jpg"
                                alt="testimonial image">
                        </div>

                        <div class="cnst-testi-name-con">
                            <p class="cnst-testi-name">George Slows</p>
                            <p class="cnst-testi-proffession">Builder</p>
                        </div>
                    </div>
                </div>

                <div class="cnst-testi-inner-con swiper-slide">
                    <div class="cnst-testi-my-shape">
                        <p class="cnst-testi-review">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut
                            eveniet doloribus illo natus non tempora qui facilis. Odit harum laboriosam error quae eum dignissimos eius.</p>
                    </div>

                    <div class="cnst-testi-img-name-con">
                        <div class="cnst-testi-img-con">
                            <img src="https://themes247.net/html5/construction/demo/assets/img/testimonials/2.jpg"
                                alt="testimonial image">
                        </div>

                        <div class="cnst-testi-name-con">
                            <p class="cnst-testi-name">George Slows</p>
                            <p class="cnst-testi-proffession">Builder</p>
                        </div>
                    </div>
                </div>

                <div class="cnst-testi-inner-con swiper-slide">
                    <div class="cnst-testi-my-shape">
                        <p class="cnst-testi-review">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut
                            eveniet doloribus illo natus non tempora qui facilis. Odit harum laboriosam error quae eum dignissimos eius.</p>
                    </div>

                    <div class="cnst-testi-img-name-con">
                        <div class="cnst-testi-img-con">
                            <img src="https://themes247.net/html5/construction/demo/assets/img/testimonials/2.jpg"
                                alt="testimonial image">
                        </div>

                        <div class="cnst-testi-name-con">
                            <p class="cnst-testi-name">George Slows</p>
                            <p class="cnst-testi-proffession">Builder</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
    
    <script>
        const swiper = new Swiper('.swiper', {
            direction: 'horizontal',  
            loop: true,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            slidesPerView: 1,
            spaceBetween: 10,
            breakpoints: {
                640: {
                    slidesPerView: 1,
                    spaceBetween: 10,
                },
                768: {
                    slidesPerView: 2,
                    spaceBetween: 10,
                },
                1024: {
                    slidesPerView: 3,
                    spaceBetween: 10,
                }
            }
        });
    </script>
</body>

</html>